.andika-regular {
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .andika-regular-italic {
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .andika-bold {
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .andika-bold-italic {
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

:root {
    --primary-color: #ffffff;
    --heading-font: "Amatic SC";
    --body-font: "Andika";
    --bg-color: rgba(0, 0 , 0, .3);

}

body {
    min-height: 100vh;
    background: url(../img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--primary-color);
}

section{
    min-height: 100vh;
    padding: 6rem 9% 2rem;
    margin-left: 80px;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/*****************************************  design Font **********/

h1 {
    font-family: var(--heading-font);
    font-size: 5.6rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

h2 {
    font-family: var(--body-font);
    font-size: 4.6rem;
    font-weight: 550;
    font-style: normal;
    letter-spacing: 0.1rem;

}

h3 {
    font-family: var(--body-font);
    font-size: 2.6rem;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.1rem;
}

p{
    font-family: var(--body-font);
    font-size: 1.2rem;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
}


/*****************************************  design Sidebar *******/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background: transparent;
    backdrop-filter: blur(40px);
    border-right: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);
    padding: 6px 14px;
    transition: .5s;
}

.sidebar.active {
    width: 260px;
}

.sidebar .logoMenu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.sidebar .logoMenu .logo{
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-weight: 100;
    /* margin: 0 1rem; */
    color: var(--primary-color);
    pointer-events: none;
    opacity: 0;
    transition: .3s;
    
}

.sidebar.active .logoMenu .logo{
    opacity: 1;
    transition-delay: .2s;
}

.sidebar .logoMenu .toggleBtn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: var(--primary-color);
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
}

.sidebar.active .logoMenu .toggleBtn{
    left: 90%;
}

.sidebar .list{
    margin-top: 10px;
}

.sidebar .list .listItem{
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
    
}

.list .listItem a{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: var(--body-font);
    color: var(--primary-color);
    border-radius: 6px;
    white-space: nowrap;
    transition: .5s;
}

.list .listItem.active a,
.list .listItem a:hover{
    background: rgba(255, 255, 255, .2);
}

.list .listItem a i{
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar .linkName{
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.sidebar.active .linkName{
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}

/* ******************* design section home */

.home{
    text-align: center;  
}

.home h1{
    font-family: var(--heading-font);
    margin-bottom: 2rem;
}

.home h3{
    font-family: var(--body-font);
}


.socialMedia a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--primary-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--primary-color);
    margin: 3rem 1.5rem;
    transition: 0.5s ease;
}

.socialMedia a:hover{
    background: var(--primary-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--primary-color);
}

.homeCV{
    border: #E60461 2px solid;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 0.2rem 1.5rem;
    background: transparent;
    border-radius: 5rem;
    border: .2rem solid var(--primary-color);
    font-family: var(--body-font);
    font-size: 1.4rem;
    color: var(--primary-color);
    letter-spacing: .1rem;
    font-weight: 700;
    transition: 0.5s ease;
}

.btn:hover{
    background: var(--primary-color);
    color: rgba(0, 0 , 0, .5);
    box-shadow: 0 0 1rem var(--primary-color);
}


/* ***************** design about********* */
.about{
    margin: auto;
    background: var(--bg-color);
}

.about h1{
    text-align: center;
    margin-bottom: 5rem;
}
.aboutContent{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    
}

.aboutContent .aboutItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.aboutContent p{
    
    margin-bottom: .8rem;
    
}

.aboutContent .aboutImg{
    width: 35%;
    height: 100%;
    
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0);
    }
}

.aboutContent .aboutImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 1rem var(--primary-color);
    animation: floating 4s ease infinite;
}

/* ***************Design section skills */

.skills h1{
    text-align: center;
    margin-bottom: 3rem;
}

.skillsContent{
    width: 80%;
    margin: auto;
}

.skillsContent h2{
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.skillsContainer{
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skillsContainer .skillsBox{
    flex: 1 1 5rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: 0.5s ease;
}

.skillsContainer .skillsBox:hover{
    border-color: var(--primary-color);
    transform: scale(1.02);
}

.skillsBox i{
    font-size: 3.5rem;
    color: var(--primary-color);
}

.skillsBox h3{
   font-size: 1.6rem;
}

.skillsBox p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


#accordion {
    width: 100%;   
    background: var(--tertiary-color);
}

.accordionElement h3{
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--primary-color);
    padding: 0.6rem;
    box-shadow: 0 0 0.3rem var(--primary-color);
    border-radius: .5rem;
    
}

.accordionContent{
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: 2s height;
    background: var(--bg-color);
    border-radius: .5rem;
}

.accordionContent ul{
    font-family: var(--body-font);
    font-size: 1.2rem;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    padding: 0.8rem;
    text-decoration: none;
    
}

/* ***************design section portfolio */

.portfolio{
    background: var(--bg-color);
}

.portfolio h1{
    margin-bottom: 5rem;
    text-align: center;
}

.portfolioContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolioContainer .portfolioBox {
    width: 100%;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolioBox img{
    width: 100%;
    transition: 0.5s ease;
}

.portfolioBox:hover img{
    opacity: 0.7;
    transform: scale(1.1) !important;
}

.portfolioBox .portfolioLayer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .5), var(--bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 4 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolioBox:hover .portfolioLayer{
    transform: translateY(0);
}
.portfolioLayer h3{
    font-size: 1.8rem;
    font-family: var(--body-font);
    letter-spacing: normal;
}

.portfolioLayer p{
    font-size: 1.2rem;
    margin:.3rem 0 1rem;
}

.portfolioLayer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolioLayer a i{
    font-size: 2rem;
    color: var(--primary-color);
}

/* *************** design section contact */

.contact h1{
    text-align: center;
    margin-bottom: 5rem;
}

.contact .container{
    width:80%;
    display: flex;
    justify-content: center;
    gap: 10rem;
    color: var(--tertiary-color);
    font-family: var(--body-font);
    font-size: 1rem;
    
}

.contact .contactContent{
    width: 50%;
}

.contact .contactContent h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.contact .contactContent p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    display: block;
    transition: transform 0.3s ease;
}

.contact .contactContent p:hover{
    transform: scale(1.1);
}

.contact .contactContent a{
    color: var(--primary-color);
    
}

.contact .contactForm{
    width: 50%;
}

.contact .contactInfo{
    width: 100%;
    margin-bottom: 1.2rem;
    position: relative;
}

.contact .label{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .3s;
}

.contact .input{
    width: 100%;
    font-size: 1.2rem;
    font-family: var(--body-font);
    padding: 8px 15px;
    border-radius: 2px 2px 2px 25px;
    border: none;
    border-bottom: 6px solid var(--primary-color);
    transition: all .3s;
}

.contact .input:focus{
    width: 66.6666%;
    outline: none;
    border-bottom: 6px solid #E60461;
}

.contact .input:focus:invalid{
    border-bottom: 6px solid yellow;
}

.contact .input:focus + .label{
    opacity: 1;
    font-size: 1.2rem;
}

.contact .message,.contact .message .input{
    width: 100%;
}

.contact .messageLabel{
    font-size: 1.2rem;
}

.contact form textarea{
    resize: none;
}

.contact .submit{
    text-align: right;
}
.contact .btn{
    margin: 2rem;
    margin-right: 0;
    
}


/* ****************** design footer */


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    background: var(--bg-color);
}

.footer-text p{
    font-size: 1.2rem;
    font-family: var(--body-font);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--bg-color);
    border-radius: .8rem;
    transition: .5 ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--primary-color);
    background: var(--primary-color);
}

.footer-iconTop a i{
    font-size: 2.2rem;
    color: var(--primary-color);
}

.footer-iconTop a:hover i{
    color: var(--bg-color);
}


/******************* Breakpoint********************************/

@media screen and (max-width: 1200px){
    html {
        font-size: 85%;
    }
}

@media screen and (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .skills {
        padding-bottom: 7rem;
    }

    .portfolio{
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media screen and (max-width: 767px){
    #menu-icon{
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;

    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;    
    } 

    .home {
        flex-direction: column;     
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img{
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media screen and (max-width: 617px){
    .portfolio-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 450px){
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }
}

@media screen and (max-width: 450px){
    .home-img img{
        width: 90vw;
    }

    .about img{
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}
